.main {
  text-align: center;
  padding: 1px 20px 0 20px;
  position: relative;

  & article:first-of-type {
    margin: 144px auto 80px auto;
  }

  @include laptop-min {
    width: 60%;
    margin-left: 40%;
  }
}