.language {
    border: 2px solid $Gray-Extra-Light;
    border-radius: 50%;
    color: $Gray-Dark;
    font: normal 400 12px/24px 'Montserrat', sans-serif;
    height: 38px;
    margin-left: auto;
    padding-top: 5px;
    text-align: center;
    width: 38px;
}