// Palette

// h1, buttons
$Gray-Dark: #292929;

//project__content
$Gray-Regular: #444444;

// subtitle, footer
$Gray-Light: #666666;

// top-bar, language
$Gray-Extra-Light: #f5f5f5;

// buttons__hover
$Gray-Transparent: rgba(34, 34, 34, .8);

// body, h2, header__subtitle
$white: #ffffff;

//header-overlay
$Black-Transparent-Dark: rgba(0, 0, 0, .2);

// Typography
$Merriweather: "Merriweather", serif
